@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERAL */

:root {
  --color1: #7847fe;
  /* Fond gris clair: */
  --color2: #292929;
  --color3: #fdfdfd;
  --color4: #0d0d0d;
  --rem1: 
}

* {
  margin: 5px 4px;
  padding: 0;
  box-sizing: border-box;
}

body {
background-color: var(--color2);
height: 100vh;
font-family: "Inter";
font-style: normal;
color: white;
/* overflow: hidden; */
}

/* Menu de navigation: hearder */

nav {
  display: flex;
  align-content: center;
  margin-bottom: 20px;
}

nav h3 {
  width: 50%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 50%;
  font-size: 0.8rem;
}

/* Menu principal: Main */

main {
  display: flex;
  align-items: center;
}

.main-left {
  width: 50%;
}

.main-left-container {
  width: 85%;

}
.main-left-container h1 {
  font-size: 4rem;
  font-weight: 600;
}

.main-left-container h2 {
  font-size: 1.45rem;
  font-weight: 500;
  color: var(--color1);
  margin: 10px 0px;
}

.main-left-container p {
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
line-clamp: 2;
overflow: hidden;
text-align: justify;
font-size: 0.7rem;
line-height: 14px;
}
  
.main-right {
  width: 50%;
}

.main-right img {
  width: 100%;
}



