@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERAL */

/* Palette de couleurs: */
:root {
  --color1: #474dff;
  /* Fond gris clair: */
  --color2: #1f1e1e;
  --color3: #f0eeee;
  /* background du footer: */
  --color4: #070707;
}

* {
 /* Chacun des éléments de la page ont un padding de 5px ! et on ne pourra pas le changer ! */
  padding: 5px;
  margin: 0px ;
  /* Pour éviter que les boîtes partent dans tous les sens: */
  box-sizing: border-box;
  /* On met la font dans le * : et sans-serif par défaut si ca ne marche pas. */
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: white;
}

li {
  list-style: none;
}

p {
  font-size: 0.7rem;
}

body {
  background-color: var(--color2);
  min-height: 100vh;
  color: var(--color3);
  /* overflow: hidden; */
}

/* Menu de navigation: hearder */
nav {
  /* display: flex;
  align-content: center; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0px 20px;
}

nav h3 {
  width: 50%;
}

nav ul {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  justify-items: end;
  grid-template-columns: repeat(3, 1fr);
  font-size: 0.8rem;
}


/* Menu principal: Main */

main {
  /* display: flex;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 74vh;
}

.main-left {
  display: grid;
  justify-content: center;
  align-items: center;
  /* display: flex;
  justify-content: center; */
}

.main-left-container {
  width: 100%;
}

.main-left-container h1 {
  font-size: 5rem;
  font-weight: 600;
}

.main-left-container h2 {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color1);
  margin: 10px 0px;
}

.main-left-container p {
  /* Si on veut que le paragraphe face max 2 lignes tout le temps: */
/* display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
line-clamp: 2;
overflow: hidden; */
text-align: justify;
line-height: 14px;
max-width: 700px;
}
  
.main-right {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-right img {
  width: 80%;
  /* Centrer l'image dans son container: */
  align-self: center;
  justify-self: center;
}

/* Footer */

footer {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: start;
  align-items: center;
  background: var(--color4);
  border-radius: 15px;
  min-height: 18vh;
}

.footer-left {
  /* display: flex;
  flex-direction: column;  */
}

.btn-container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  display: grid;
}

.btn-container button {
  background: var(--color1);
  color: var(--color3);
  height: 30px;
  width: 140px;
  letter-spacing: 0.8px;
  border-radius: 10px;
  font-size: 0.7rem;
  font-weight: 600;
  border: none;
  /* haut/bas dr/gche*/
  margin: 5px 0px;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  cursor: pointer;
}

.footer-right {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  width: 100%;
  height: 100%;
}

.footer-right h4 {
  margin: 0px 60px;
}

.investors-logos {
  height: 100%;
}

.investors-containers {
  /* display: flex;
  justify-content: space-around; */
  /* Permet de voir l'img en entier: */
  /* align-items: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.investors-containers img {
  object-fit: cover;
  width: 35%;
}

/* Pour règler les tailles des logos indépendemment :*/
#GV {
  /* width: 7%; */
}

#First {
  /* width: 13%; */
}
#Khosla {
  /* width: 9%; */
}



