@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERAL */

:root {
  --color1: #373aff;
  /* Fond gris clair: */
  --color2: #1f1e1e;
  --color3: #fdfdfd;
  --color4: #0d0d0d;
}

* {
  margin: 5px 4px;
  padding: 0;
  box-sizing: border-box;
}

body {
background-color: var(--color2);
height: 100vh;
font-family: "Inter";
font-style: normal;
color: white;
overflow: hidden;
}

/* Menu de navigation: hearder */

nav {
  display: flex;
  align-content: center;
}

nav h3 {
  width: 50%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 50%;
  font-size: 0.8rem;
}

/* Menu principal: Main */

main {
  display: flex;
  align-items: center;
  height: 75vh;
}

.main-left {
  width: 50%;
}

.main-left-container {
  width: 85%;
}

.main-left-container h1 {
  font-size: 5rem;
  font-weight: 600;
}

.main-left-container h2 {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color1);
  margin: 10px 0px;
}

.main-left-container p {
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
line-clamp: 2;
overflow: hidden;
text-align: justify;
font-size: 0.7rem;
line-height: 14px;
}
  
.main-right {
  width: 50%;
  text-align: center;
}

.main-right img {
  width: 72%;
    
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  /* background: var(--color4); */
  background: var(--color4);
  border-radius: 15px;
  padding: 5px;
}

.footer-left {
  display: flex;
  flex-direction: column; 
}


.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container button {
  background: var(--color1);
  color: var(--color3);
  height: 30px;
  width: 90%;
  border-radius: 10px;
  font-family: "Inter";
  font-size: 0.7rem;
  font-weight: 600;
  border: none;
  /* haut/bas dr/gche*/
  margin: 3px 0px;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  cursor: pointer;
}

.footer-right {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.footer-right h4 {
  margin: 0px 60px;
}

.investors-logos {
  height: 100%;
}

.investors-containers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px 0px 20px;
  /* haut dr/gche bas */
}

.investors-containers img {
  object-fit: cover;
}

#GV {
  width: 7%;
}

#First {
  width: 13%;
}
#Khosla {
  width: 9%;
}



